@model PA2_Final.Models.Proyecto

@{
    ViewBag.Title = "Create";
    PA2_Final.Models.Cliente cliente = ((PA2_Final.Models.Cliente)Session["cliente"]);
}

<h2>Registrar Proyecto</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h4>Asignar proyecto para <strong style="color:limegreen;">@cliente.Nombre @cliente.ApellidoPaterno @cliente.ApellidoMaterno</strong></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descripcion, new { style = "width:70%;height:150px", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Costo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Costo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Costo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <input id="ClienteID" name="ClienteID" type="text" value="@cliente.ID" hidden>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="~/Proyectoes/index@((cliente!=null)?"?id="+cliente.ID:"")" class="">Regresar al listado</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
