@model IEnumerable<PA2_Final.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Agregar Cliente", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table w-100">
    <tr>
        <th class="w-auto">
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th style="width:15%">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th class="w-auto">
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th class="w-auto">
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th class="w-auto">
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th style="width:40%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                <a href="~/Proyectoes/index?id=@item.ID" class="btn btn-secondary btn-sm">Proyectos</a> |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-sm" }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
